@import '../../node_modules/reset-css/_reset.scss';

@font-face {
    font-family: 'maverickregular';
    src: url('../fonts/maverick-webfont.woff2') format('woff2'),
         url('../fonts/maverick-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'storytellerregular';
    src: url('../fonts/storyteller-webfont.woff2') format('woff2'),
         url('../fonts/storyteller-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'turnerbold';
    src: url('../fonts/turnerbold-webfont.woff2') format('woff2'),
         url('../fonts/turnerbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'turnerbold_italic';
    src: url('../fonts/turnerbolditalic-webfont.woff2') format('woff2'),
         url('../fonts/turnerbolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'turner_extrasregular';
    src: url('../fonts/turnerextras-webfont.woff2') format('woff2'),
         url('../fonts/turnerextras-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'turnerlight';
    src: url('../fonts/turnerlight-webfont.woff2') format('woff2'),
         url('../fonts/turnerlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'turnerlight_italic';
    src: url('../fonts/turnerlightitalic-webfont.woff2') format('woff2'),
         url('../fonts/turnerlightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'turnerregular';
    src: url('../fonts/turnerregular-webfont.woff2') format('woff2'),
         url('../fonts/turnerregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'turneritalic';
    src: url('../fonts/turnerregularitalic-webfont.woff2') format('woff2'),
         url('../fonts/turnerregularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body, h1 {
    font-family: 'maverickregular';
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.turner {
    &__video {
        width: 450px;
        margin-top: 25%;
        margin: 25vh auto;

        @media all and (max-width: 485px) {
            width: 100%;
        }
    }

    &__content > .bg {
        background: white url(../images/bg.jpg) top center no-repeat;
        width: 880px;
        position: absolute;
        z-index: -1;
        height: 100%;
        top: 0;
        background-size: contain;
        left: 50%;
        margin-left: -440px;
        top: 160px;

        @media all and (max-width: 880px) {
            width: 100%;
            margin-left: 0;
            left: 0;
            top: 135px;
            background-size: 700px;
        }

        @media all and (max-width: 570px) {
            background-size: 600px;
        }

        @media all and (max-width: 400px) {
            background-size: 500px;
        }
    }

    &__container {
        width: 875px;
        box-sizing: border-box;
        padding: 0 20px;
        margin: auto;

        @media all and (max-width: 875px) {
            width: 100%;
        }
    }

    &__footer {
        padding: 15px 0;
        position: absolute;
        bottom: 0;
        background-color: black;
        width: 100%;
        margin-top: 200px;

        .small-print {
            font-size: 9px;
            color: white;
            font-family: 'turnerbold';
            float: right;
            padding-top: 8px;

            @media all and (max-width: 485px) {
                text-align: center;
                line-height: 16px;
                margin-top: 10px;
                float: left;
                width: 70%;
                padding: 0 15%;
            }
        }
    }

    &__header {
        background-color: black;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        position: relative;

        @media all and (max-width: 485px) {
            padding: 15px 0;
        }

        &::after {
            content: "";
            background: transparent url(../images/pattern.png) top center repeat-x;
            height: 62%;
            width: 100%;
            position: absolute;
            bottom: -62%;
            background-size: contain;

            @media all and (max-width: 875px) {
                height: 45px;
                bottom: -46px;
                background-size: cover;
            }
        }

        &--h1 > img{
            width: 340px;
            display: block;
            margin: auto;

            @media all and (max-width: 875px) {
                width: 260px;
            }

            @media all and (max-width: 485px) {
                width: 50%;
                max-width: 260px;
                padding: 0 25%;
            }
        }
    }
}

.social__icons {
    list-style: none;
    @media all and (max-width: 485px) {
        position: relative;
        margin-left: -30px;
        left: 50%;
    }

    > li {
        float: left;
        margin-right: 10px;
        width: 25px;
        height: 25px;
        -webkit-transition: opacity 0.3 ease-in-out;
        transition: opacity 0.3 ease-in-out;

        a:hover {
            opacity: 0.8;
        }

        img {
            display: block;
            width: 100%;
            max-width: 100%;
        }
    }
}
